.cont{
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: aliceblue;
}

.main{
  background-color: rgb(203, 211, 195);
  max-height: 75vh;
  min-height: 50vh;
  max-width: 75vw;
  min-width: 50vw;
  border-radius:34px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 3px 3px rgba(139, 139, 139, 0.699);
}

.advice-text{
  color: rgb(21, 102, 1);
  text-align: center;
}

